body {
	margin: auto;
	background-color: #ffece6;
}

.ingredient {
	fill: #ff6666;
	stroke: #ccc;
	shape-rendering: geometricPrecision;
	transition: 0.3s;
}

.ingredientHover {
	fill: #ffcccc;
	stroke: #ff6666;
	stroke-width: 3px;
	shape-rendering: geometricPrecision;
	transition: 0.3s;
}

.recipeHover {
	font-weight: bold;
	cursor: default;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 1;
    opacity: 0.1;
}

.linkPopup {
    fill: none;
    stroke: black;
    stroke-width: 1;
    opacity: 0.6;
}

.linkHover {
	fill: none;
    stroke: black;
	opacity: 1;
	stroke-width: 3;
}

.recipe {
	cursor: default;
}

#popupdiv {
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

#popupdiv .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

#popupdiv > div {
    background:rgba(255, 242, 229, 0.9);

    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 50%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    
    -webkit-animation:	fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: 	fadein 2s; /* Firefox < 16 */
	-ms-animation: 		fadein 2s; /* Internet Explorer */
	-o-animation: 		fadein 2s; /* Opera < 12.1 */
	animation: 			fadein 2s;
}
.popupCloseButton {
	cursor: default;
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

.popupnode {
	cursor: default;
}

.clickable {
	cursor: pointer;
}
