body {
  margin: auto;
  background-color: #FFB6C1;
}

.ingredient {
  fill: #5F9EA0;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 1;
    opacity: 0.1;
}

.linkHover {
	fill: none;
    stroke: black;
	opacity: 1;
	stroke-width: 3;
}

.recipe {
	cursor: default;
}
